
.top-banner{
    margin-left: 8%;
    margin-right: 8%;
}
.about-area{
    margin-left: 8%;
    margin-right: 8%;
}
h1{
    font-size : 80px;
    font-weight :normal;
    color : #364958;
    line-height : 20px;
    font-family: 'Bebas Neue', cursive;
}
h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    font-weight:lighter;
    color: #363958;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size :30px;
    font-weight:700;
    color: #363958;
}




.navigation-bar a{
    text-decoration: none;
    font-weight:700;
    font-size: 16px;
    color : rgb(39, 38, 38);
    font-family: 'Poppins', sans-serif;
    float : right;
    padding : 20px;
}
.navigation-bar li{
    list-style: none;
}
.navigation-bar{
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 80px;
}




.orange-highlighter{
    color :#FF8367;
}
body p{
    font-family: 'Roboto', sans-serif;
    padding-bottom: 40px;
    color: #3E3E3E;
    font-size :20px;
}
.link-button{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight : 700;
    font-size :16px;
    background-image: linear-gradient(45deg,#F46060,#f04c4c);
    padding: 18px 50px;
    border-radius: 10px;
    color: white;
}
.half-width{
    width: 45%;
    padding-left: 4%;
    float : left;
}
.half-width img{
    width: 80%;
}
section{
    height: 500px;
    padding-bottom : 100px;
}





.project-area{
    height: 1000px;
    background-color: #F8F9FC;
}
.project-area h2{
    padding: 5%;
    text-align: center;
    color: #363958;
}
#name-highlighter{
    color : #F46060;
}

.single-project img{
    width: 100%;
}
.single-project{
    height: 450px;
    width: 29%;
    background-color: white;
    box-shadow:8px 8px 80px gray;
    border-radius: 20px;
    padding: 2%;
    margin: 5px;
}
.one-third-width{
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
}
.single-project p{
    color: #6C6C6C;
    font-weight: 700;
}

.Style-services{
    text-align: center;
    background-image: linear-gradient(45deg,#8379ee, #241893 );;
    color: rgb(255, 255, 255);
    margin-left: 5%;
    margin-right: 5%;
    font-size: 40px;
}
.service{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
    padding: 15px;
    margin-left: 10px;

    
    background-color: white;



}
.lower-banner{
    background-image: url("Images/exp-bg.png");
    background-repeat: no-repeat;
    background-position:left ;
}
 #website{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, cyan,blue);
    border-image-slice:1;

 }

 #digital{
     border-left: 7px solid;
     border-image: linear-gradient(180deg, blue,cyan);
     border-image-slice:1;

 }




.bottom-section{
    height: 200px;
    padding-top: 150px;
    margin-left: 25%;
    margin-right: 25%;
}
.bottom-section img{
    position: absolute;
    width: 50%;
}
.bottom-section h1{
    float: left;
    padding: 5%;
    position: relative;
    color: white;
    font-weight: normal;
}
.bottom-section a{
    margin:10%;
    position: relative;
    float: right;
}
footer{
    text-align: center;
}
footer p{
    font-size:25px;
    color: #363958;
    font-family: 'Bebas Neue', cursive;
    padding-bottom: 0;
}
footer img{
    margin-left: 1%;
    width: 2%;
}




